@use 'abstracts' as *;
@use 'base' as *;
@use 'modules' as *;

body {

  // Header Properties
  --apm-theme-header-compression-speed: 0.5s;
  --apm-theme-utility-menu-height:      2rem;
  --apm-theme-main-menu-height:         4rem;
  --apm-theme-header-wrap-height:       4rem;

  &.is-compressed {
    --apm-theme-utility-menu-height:    1.5rem;
    --apm-theme-main-menu-height:       4.0rem;
  }

  @include for-above-menu-breakpoint {
    --apm-theme-main-menu-height:       5rem;
    --apm-theme-header-wrap-height:     7rem;
  }

}

@include establish-foundational-layout-rules;

