@use '../abstracts' as *;

.responsive-image {
  display: block;
  height: auto;
  width: 100%;
}

.normalize-first > *:first-child,
.normalize-first-last > *:first-child {
  margin-top: 0;
}

.normalize-last > *:last-child,
.normalize-first-last > *:larst-child {
  margin-bottom: 0;
}