@use '../abstracts' as *;

.custom-logo-link {

  img {
    display: block;
    height: auto;
    max-height: 4rem;
    max-width: 9rem;
    transition: max-height var(--apm-theme-header-compression-speed) var(--apm-theme-header-compression-function);
    width: 100%;

    body.is-compressed & { max-height: 3rem }

  }

  @include for-above-menu-breakpoint {

    img { max-width: 13rem; }

  }

}