@use '../abstracts' as *;

.custom-logo-link {
  align-items: center;
  display: flex;
  height: 100%;

  img {
    height: auto;
    max-height: 80%;
    max-width: 11rem;
    transition:
            height var(--apm-theme-header-compression-speed) ease,
            width var(--apm-theme-header-compression-speed) ease;
    width: auto;
  }

  &:focus {
    outline: none;

    img {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: .25rem;
    }

  }

  @include for-above-menu-breakpoint {

    img { max-width: 13rem; }

  }

}