@use '../abstracts' as *;

.main-menu {

  @include for-above-menu-breakpoint {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      position: relative;
    }

    a {
      position: relative;
      text-decoration: none;
      z-index: 1;
    }

    .mobile-submenu-button { display: none }

    > ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      gap: 2rem;
      margin: 0;
      padding: 0;

      > li {
        align-items: center;
        display: flex;
        min-height: var(--apm-theme-main-menu-height);
        margin: 0;
        position: relative;
        transition: min-height var(--apm-theme-header-compression-speed) var(--apm-theme-header-compression-function);

        a {
          font-weight: 600;
          outline-offset: .5rem;
          text-decoration: none;
        }

      }

    }

    // Submenus
    > ul ul {
      background-color: var(--wp--preset--color--brand-a);
      box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
      display: none;
      left: 0;
      max-height: none !important; // *
      position: absolute;
      top: 100%;
      width: 15rem;

      // * !important to overwrite any inline styles left behind
      // by JS for animated collapsable menus on mobile

      > li {
        width: 100%;

        a {
          display: block;
          padding: .5rem 1.5rem;
        }

        &:first-child a { padding-top: 1rem; }
        &:last-child a { padding-bottom: 1rem; }

      }

    }

    a[aria-expanded="true"] + button + ul {
      animation: menu-fade-in-up 400ms;
      display: block;
    }

  }

}

@keyframes menu-fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
}