@use '../abstracts' as *;

.mobile-submenu-button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 3rem;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: height var(--apm-theme-mobile-header-bar-height) ease;
  width: 4.15rem;
  z-index: 2;

  &::after {
    content: '';
    border-left: 3px solid gray;
    border-bottom: 3px solid gray;
    height: .75rem;
    margin-top: -.375rem;
    width: .75rem;
    transform: rotate(-45deg);
    transition: transform .15s linear, margin .15s linear;
  }

}

@include for-below-menu-breakpoint {

  .mobile-submenu-button { display: flex }

}