@use '../abstracts' as *;

.site-header {
  position: relative;
  transition: background-color var(--apm-theme-header-compression-speed) var(--apm-theme-header-compression-function),
              box-shadow var(--apm-theme-header-compression-speed) var(--apm-theme-header-compression-function),
              min-height var(--apm-theme-header-compression-speed) var(--apm-theme-header-compression-function);
  width: 100vw;

  body:not(.is-at-top) .site-header-wrap.is-style-overlay &,
  .site-header-wrap:not(.is-style-overlay) & {
    background-color: var(--wp--preset--color--brand-a);
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
  }

  &__inner-container {
    min-height: var(--apm-theme-main-menu-height);
    transition: min-height var(--apm-theme-header-compression-speed) var(--apm-theme-header-compression-function);
  }

  @include for-below-menu-breakpoint {
    padding-left: .5rem;

    &__inner-container {
      align-items: center;
      display: flex;
      position: relative;
    }

  }

  @include for-above-menu-breakpoint {
    display: flex;
    min-height: calc( var(--apm-theme-utility-menu-height) + var(--apm-theme-main-menu-height) );
    justify-content: center;
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);

    &.has-utility-menu {
      min-height: calc( var(--apm-theme-utility-menu-height) + var(--apm-theme-main-menu-height) );
      padding-top: var(--apm-theme-utility-menu-height);
    }

    &__inner-container {
      align-items: center;
      column-gap: 2rem;
      display: flex;
      justify-content: space-between;
      max-width: var(--wp--style--global--wide-size);
      width: 100%;
    }

  }

}