@use '../abstracts' as *;

.site-header-wrap {
  position: sticky;
  top: 0;
  z-index: 3;

  @include for-below-menu-breakpoint {
    height: var(--apm-theme-mobile-header-bar-height);
  }

  @include for-above-menu-breakpoint {
    height: calc( var(--apm-theme-utility-menu-height) + var(--apm-theme-main-menu-height) );
  }

  &.is-style-overlay { height: 0 }

}